<ion-toolbar color="secondary">
  <ion-buttons slot="primary">
    <ion-button id="present-alert" fill="solid" shape="round" color="primary">
      <span class="label-boton-guardar">GUARDAR</span>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title class="titulo-pantalla">{{pageTitle}}</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true" class="crear-alarma-content">
  <!-- ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">crear-alarma</ion-title>
    </ion-toolbar>
  </ion-header -->

  <ion-input label="ETIQUETA" label-placement="stacked" fill="outline" placeholder="Ingresa la etiqueta de la alarma" class="campos-formulario"></ion-input>


  <ion-grid>
    <ion-row>
      <ion-col class="columna-select-categoria">
        <ion-select label="CATEGORÍA" label-placement="stacked" fill="outline" placeholder="Selecciona la Categoría" class="campos-especiales-formulario">
          <ion-select-option value="apple">Home</ion-select-option>
          <ion-select-option value="banana">Planes</ion-select-option>
          <ion-select-option value="orange">Medicamentos</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col class="columna-agregar-categoria" size="auto">
        <div class="div-columna-agregar-categoria"></div>
        <ion-fab>
          <ion-fab-button id="agregar-categoria" size="small" color="light">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item-divider class="divider"></ion-item-divider>

  <ion-grid>
    <ion-row>
      <ion-col class="columna-input-fecha" size="auto">
        <ion-input label="FECHA" type="date" label-placement="stacked" fill="outline" helperText="DD/MM/AAAA" class="campos-especiales-formulario"></ion-input>
      </ion-col>
      <ion-col class="columna-toogle-fecha" size="auto">
        <ion-toggle></ion-toggle>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-input label="HORA" type="time" label-placement="stacked" fill="outline" class="campos-formulario"></ion-input>

  <ion-item-divider class="divider"></ion-item-divider>

  <ion-list lines="none">

    <ion-item class="item-repetir">
      <ion-toggle justify="space-between" [checked]="true">Repetir </ion-toggle>
    </ion-item>
  </ion-list>

<ion-modal #modal trigger="agregar-categoria" class="ion-modal-nueva-categoria">
  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-title>NUEVA CATEGORÍA</ion-title>
        <ion-buttons slot="end">
          <ion-button color="primary" (click)="modal.dismiss()">X</ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-list lines="none">
        <ion-item>
          <ion-input label="NOMBRE" label-placement="stacked" fill="outline" placeholder="Ingrese el nombre" style="margin-top: 20px;"></ion-input>
        </ion-item>
        <ion-item>
          <ion-item-divider></ion-item-divider>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                  <ion-button (click)="modal.dismiss()"  fill="solid" shape="round" color="primary">
                    <span class="label-boton-guardar">GUARDAR</span>
                  </ion-button>
              </ion-col>
              <ion-col>
                <ion-col>
                  <ion-button (click)="modal.dismiss()" fill="outline" shape="round" color="primary">
                    <span class="label-boton-guardar">CANCELAR</span>
                  </ion-button>
              </ion-col>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #modal2 trigger="present-alert" class="ion-modal-guardar">
  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-title>ALARMA</ion-title>
        <ion-buttons slot="end">
          <ion-button color="primary" (click)="modal2.dismiss()">X</ion-button>
        </ion-buttons>
      </ion-toolbar>
      <div class="div-alarma-congigurada-exitosamente">CONGIFUGURADA <br/>EXITOSAMENTE</div>
      <ion-item-divider></ion-item-divider>
      <ion-list lines="none">
        <ion-item>
          <div class="div-boton-alarma-congigurada-exitosamente">
            <ion-button (click)="modal2.dismiss(); goHome()" fill="solid" shape="round" color="primary">
              <span class="label-boton-guardar">ACEPTAR</span>
            </ion-button>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
</ion-content>











